body{
    background-image: url("img/coimbra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#myCard {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    border-color: #7eb9ba;
}

hr {
    background-color: #1b5d5e; /* Modern Browsers */
}

#foto, #baby {
    height: 25em;
    width: auto;
}

#baby, .icons {
    height: 2em;
}

#exampleModal .modal-content, #exampleModal img{
    border-radius: 5%;
}
